{% extends "global/PageExt.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% if player.treatment == 'T2' %}
  Practice: Round 1 of 2: Investment
{% else %}
  Practice: Round 1 of 2: Initial Investment
{% endif %}
{% endblock %}

{% block inner_content %}

{% include 'kelsey/Prac_InfoBlock.html' with  high_payoff=Constants.prac_high_payoff low_payoff=Constants.prac_low_payoff %}

{% formfield player.prac_first_decision with label=first_decision_label %}
{% include 'kelsey/slider_wrapper.html' %}
    {% next_button %}

{% endblock %}
